/BearTalk.xcodeproj/project.xcworkspace/xcuserdata/joe.xcuserdatad/UserInterfaceState.xcuserstate
/.DS_Store
/BearTalk.xcodeproj/project.xcworkspace/xcuserdata/joecieplinski.xcuserdatad/UserInterfaceState.xcuserstate
