<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bear Talk Widget ExtensionExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>BearTalk.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AE99794F2DEA0F5B00942DD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8CA9DA62B166B3300BC35F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8CA9DB72B166B3400BC35F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8CA9DC12B166B3400BC35F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
